<header class='navbar navbar-inverse navbar-fixed-top'>
	<div class='container'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='/'>
				JEE TO IIT
			</a>
			<h6> 

			</h6>
		</div>

		<div class='navbar-collapse collapse'>
			<ul class='nav navbar-bar'>
				<li>
					<a href='/'> Home
					</a>
				</li>
			</ul>
		</div>

	</div>
</header>