<!DOCTYPE html>

<html>
<head>
	<meta charset=utf-8></meta>
	<title>JEE TO IIT</title>
	<% include partials/scripts.ejs %>
	<% include partials/styles.ejs %>
	<base href="/">
</head>
<div ng-view></div>
<body ng-app="App" ng-controller="MainController">

	
	
	<h1> <%= mongoMessage %></h1>



</body>

</html>